body {
    font-family: Josefin Sans, sans-serif;
    --primary: #80bd01;
    --dark: #232522;
    --padding: 5px;
    --borderRadius: 5px;
--red: red;
    --orange: orange;
    --yellow: yellow;
    --green: greenyellow;
    --grey: lightgray;
    --other: lightgreen;
}

.none {
    display: none;
}

.primary-bg {
    background-color: var(--primary);
}
.bg-red {
    background: var(--red);
}

.bg-orange {
    background: var(--orange);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-green {
    background: var(--green);
}

.bg-grey {
    background: var(--grey);
}

.bg-other {
    background: var(--other);
}
.primary-color {
    color: var(--primary);
}

span.material-icons,
i.material-icons {
    font-size: 1rem;
    vertical-align: -3px;
    margin-right: 0.3em;
}

span.bigIcon {
    font-size: 0.9em;
    vertical-align: -5px;
}

select {
    width: 50%;
    border-bottom: 1px solid;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    border: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-bottom: solid 2px var(--primary);
}

input[type="submit"] {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 130%;
}


table.chart {
    border-radius: 20px;
    zoom: 0.5;
}
table.chart th,
table.chart td {
    border-collapse: collapse;
    border-bottom: 0px solid grey;
    padding: 3px 10px;
}
table.chart tr {
    height: 50px;
}
table.chart td {
    width: 60px;
    text-align: center;
}
table.chart tr:nth-child(even) {
    background: whitesmoke;
}

table.chart tr:nth-child(odd) {
    background: gainsboro;
}
table.receipt {
    width: 100%;
}

table.receipt td:nth-last-child(3n+1) {
    padding: 3px 10px;
    text-align: right;
}
.table-links {
    width: 100%;
    text-align: center;
}

.table-links tr {
    height: 2.5em;
}

.table-links tr:not(tr:first-child):hover {
    text-decoration: underline 1px;
    cursor: pointer;
}
.loginbtn {
    width: fit-content;
    border-bottom: var(--primary) 2px solid;
    cursor: pointer;
    margin: 0 30px 0 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: white;

        --red: #C02114;
        --orange: #ce890d;
        --yellow: #b8b80d;
        --green: #65890d;
        --grey: #3b3f41;
        --other: lightgreen;
    }

    input {
        background-color: var(--dark);
        color: white;
    }
                select {
                    background-color: var(--dark);
                    color: white;
                }
        
    table.chart tr:nth-child(even) {
        background: dimgray;
    }

    table.chart tr:nth-child(odd) {
        background: #36393b;
    }

    div::-webkit-scrollbar-thumb {
        background-color: var(--dark);
        outline: 1px solid slategrey;
    }
}